body {
    padding-top: 50px;
}

#headerWrapper {
    position:relative;
    padding:0;
    margin:0;
    overflow: hidden;
    height: 600px;
    background-image: url("../images/headerlogo/background.png");
    background-repeat: no-repeat;
    background-size: 100% 700px;
    background-position:  top center;
    background-attachment: fixed;
}

#partial-headerWrapper {
    position:relative;
    padding:0;
    margin:0;
    overflow: hidden;
    height: 250px;
    background-image: url("../images/headerlogo/background.png");
    background-repeat: no-repeat;
    background-size: 100% 700px;
    background-position: center center;
    background-attachment: fixed;
}

#logotext {
    position: absolute;
    width: 100%;
    height: 180px;
    background-image: url("../images/headerlogo/text.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70% 180px;
    top: 50%;
    margin-top: -90px;
}

#partial-logotext {
    position: absolute;

    width: 100%;
    height: 180px;
    background-image: url("../images/headerlogo/text.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70% 180px;
    top: 20%;

}

#fore-flower {
    position:  absolute;
    width: 100%;
    height: 400px;
    background-image: url("../images/headerlogo/fore-flower.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: auto 480px;
    top: 525px;
    right: -50px;

}

.img-thumb {
    width: auto;
    height: 200px;
    min-height: 200px;
    max-width: 100%;

}

#footer {
    margin-top: 50px;
}

img.details{
    width: 33%;
    margin: 15px auto;
}

.table-auto{
    width: auto;
    margin: 0 auto;
}

#add-product-btn {
    margin-top: -35px;
}

.saved-image img{
    width : 200px;
    height: auto;
    min-width: 200px;
}

#login-form {
    width: 50%;
    height: 60%;
    border: 2px solid #000;
    border-radius: 15px;
    box-shadow: 7px 7px 15px rgba(0,0,0,0.6);;
    margin: 7% auto;
    padding: 15px;
    background-color: #fff;
}

.totals_table_header th {
    text-align: center;
}